* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

html body {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    font-family: monospace;
}

#navigasi {
  position: absolute;
  height: 100px;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}

#header ul {
  position: absolute;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

#header li {
  padding: 0;
  margin: 0;
}

#header li.highlight {
  background-color: #ff4655;
  top: 36px;
  height: 2px;
  border-bottom: solid 3px #ff4655;
  z-index: 2;
  position: absolute;
}

#header li a {
  height: 30px;
  padding-top: 8px;
  margin: 0 30px;
  color: #000;
  text-decoration: none;
  position: relative;
  z-index: 2;
  font-size: 1.5vw;
}

.deskripsi-container {
  position: absolute;
  margin-top: 6vw;
  width: 100%;
  text-align: center;
}

.deskripsi h1 {
  font-size: 2vw;
}

.scrollProjects {

  position: absolute;
  top: 70px;
  padding: 0 100px;
  margin: 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  text-align: center;
}

.scrollProjects .projects img {
  width: 23.1vw;
  aspect-ratio: 3/2;
  object-fit: cover;
  max-width: 100%;
  border: 5px solid #0f1923;
  filter: grayscale(1);
  transition: all ease-in-out 0.1s;
}

.scrollProjects .projects img:hover {
  border: 5px solid #ff4655;
  filter: grayscale(0);
}

/* Kodingan UntuK tampilan */
@media screen and (max-width: 400px) {
  .background video {
    width: auto;
  }

  #navigasi {
    position: absolute;
    height: 100px;
    padding: 15px 0 0 0;
    width: 100%;
    border-radius: 10px;
  }
  
  #header ul {
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  #header li {
    padding: 0;
    margin: 0;
  }
  
  #header li.highlight {
    background-color: #ff4655;
    top: 36px;
    height: 2px;
    border-bottom: solid 3px #ff4655;
    z-index: 2;
    position: absolute;
  }
  
  #header li a {
    height: 30px;
    padding-top: 8px;
    margin: 0 30px;
    color: #000;
    font: normal 12px;
    text-decoration: none;
    position: relative;
    z-index: 2;
    font-size: 3vw;
  }
  .deskripsi-container {
    position: relative;
    top: 18vw;
    text-align: center;
  }

  .deskripsi h1 {
    font-size: 6vw;
  }
  
  .scrollProjects {
    position: absolute;
    top: 30vw;
    padding: 0 100px;
    margin: 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    text-align: center;
  }
  
  .scrollProjects .projects img {
    width: 300vw;
    aspect-ratio: 3/2;
    object-fit: cover;
    max-width: 100%;
    border: 5px solid #0f1923;
    filter: grayscale(1);
    transition: all ease-in-out 0.1s;
  }
  
  .scrollProjects .projects img:hover {
    border: 5px solid #ff4655;
    filter: grayscale(0);
  }
}